@charset "ISO-8859-1";
body {
	width: 1349px;
	min-height: 657px;
	margin: auto;
	
}

.header {
	background-image: url("https://furamavietnam.com/wp-content/uploads/2018/08/banner01.jpg?id=1433)%20!important");
	background-size: cover;
}

.divContainRoom{
	width:100%;
	min-height:355px;
	background-repeat:repeat;
	background-image: url("../image/background3.png");
}

.divtyperoom{
	width:90%;
	min-height: 350px;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	overflow: auto;
}

.divRoom{
	width: 30%;
	height: 260px;
	margin:20px;
} 

.divimage{
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.divimage--img{
	display: block;
	width: 100%;
	height:100%;	
}

.divtyperoomtext{
	width: 100%;
	height: 23%;
	color :#ffffff;
	background-color:gray;
	font-weight: 600;
}

.showmore {	
width: 400px;
height:400px;
align-items: center!important;
vertical-align: middle!important;
}

.popupshowmore{
	width:400px;
	height:200px;
	align-items: center;	
}
.modal{
	max-width: none;
}
.buttonShowmore{
	vertical-align: middle;
    margin-top: 11px;
    margin-right: 10px;
    background-color: forestgreen;
}

.book{
  	position: absolute;
  	display:none;
	margin: 85px 140px;
}
.divimage:hover .book {
	display: block;
	opacity: 1;
}
.container{
	width: 1366px
}

.TextTypeRoom{
	width: 27%;
	height: auto;
	background-color: #eef5f9;
	border: 2px solid gray;
	margin-top: 15px;

}

.TextTypeRoom >table{
	width: 95%;
	margin: auto;
	margin-left: 30px;
}


.listRoom{
	width: 70%;
	height: auto;
	margin-top: 15px;
}

.room{
	width: 90%;
	margin: auto;
	height: 250px;
	border: 1px solid gray; 
	margin-bottom: 15px;
	display: flex;
}

.imageRoom{
	width: 40%;
	height: 230px;	
}

.ContentRoom{
	margin-left:20px;
	width: 42%;	
}
.booknow {
	width: 120px;
	margin-bottom: 5px;
	margin-top: 200px;
	align-items: center;
	margin-right: 5px;
	margin-left: 20PX;
}

.roombooked{
	width: 95%;
	margin: auto;
	border: 1px solid black;
	margin-top: 5px;
	height: auto;
}

.contentBooked{
	font-weight: 600;
	margin-left: 5px;
	margin-right: 35px;
}
.remove{
	padding-top: 0px;
    padding-right: 6px;
    padding-bottom: 0px;
    padding-left: 6px;
	margin-left: 267px;
	margin-bottom: 5px;
	background-color: red;
	color: white;
}

.formInput{
	width: 100%;
	padding-top:20px;
	margin-left:20px;
	border-right: 1px solid gray;
}

.inputInfor{
	width: 95%;
	margin-top: 0px;
    padding-left: 25px;
    padding-bottom: 20px;

}
.inputInfor >table {
	width: 100%;
	padding-top: 15px;
	
}

label{
	margin-top: 15px;
	margin-bottom: 0px;
}
.form-control{
	width: 320px;
}
.checkPromotion{
	margin-left: 40px;
    display: flex;
    margin-bottom: 20px;
}
.checkPromotion  input {
	width: 300px;
	height: 38px;
}
.tableinor {
	width:100%;
	margin: auto;
}

.spanText{
	margin-right: 20px;
	font-size: 18px;
}
.spanValue{
	font-size: 18px;
	font-weight: 600;
}

.roombook{
	display: flex;
	flex-wrap: wrap;
	width: 92%;
	margin: auto;
}

.roombooki{
	width: 45%;
	padding: 15px; 
	margin-right:20px;
	border: 1px solid gray;
	margin-bottom: 20px;
}